:root {
  --shadow: 0 2px 2px rgba(0 0 0 / 0.5);
}

section img {
  width: 200px;
  margin-top: -5rem;
}

section h4,
section h2,
section a {
  text-shadow: var(--shadow);
}

section img {
  box-shadow: var(--shadow);
}

section h4 {
  font-family: "Anek Gurmukhi", sans-serif;
  font-weight: 700;
}

section h2 {
  font-family: "Tangerine", cursive;
  font-weight: 900;
}

/* Media Query */
/* Laptop */
@media (max-width: 992px) {
}

/* Tablet */
@media (max-width: 768px) {
}

/* Phone */
@media (max-width: 567px) {
  section img {
    width: 150px;
    margin-top: -1rem;
  }
}
